// Theme White

// Variables

$app-container-bg: $app-body-bg;
$app-sidebar-bg: $body-bg;
$app-header-bg: $app-body-bg;
$app-header-logo-bg: rgba(255, 255, 255, .9);

// Content

.app-theme-white {

  &.app-container {
    background: $app-container-bg;
  }

  .app-page-title {
  }

  .app-footer .app-footer__inner,
  .app-header {
    background: $body-bg;
    border-bottom-left-radius: 10px;
  }

  &.fixed-header {
    .app-header__logo {
      background: rgba($app-header-bg, .1);
    }
  }

}
.app-theme-white.closed-sidebar {
  .app-sidebar {
    background: $app-sidebar-bg;
  }
}